.popup__title {
    margin: 0;
    padding: 0;
    max-width: 358px;
    margin: 0 auto 44px auto;
    padding-top: 34px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 65px;
        padding-top: 25px;
        text-align: center;
    }
}