.profile {
    max-width: 68.75%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile {
        max-width: 88%;
        height: 286px;
        flex-direction: column;
        justify-content: space-between;
    }
}