.card__heart {
    border: none;
    background-color: white;
    margin-top: 5px;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    opacity: 1;
    transition: 0.5s linear;
    grid-area: heart;
}

.card__heart:hover {
    opacity: 0.44;
    transition: 0.5s linear;
}