.cards__heart {
    border: none;
    background-color: white;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart.svg);
    opacity: 1;
    transition: 0.5s linear;
    grid-area: heart;
}

.cards__heart:hover {
    opacity: 0.44;
    transition: 0.5s linear;
}