.profile__name {
    max-width: 294px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    grid-area: name;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
} 

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__name {
        text-align: center;
    }
}