.popup__exit {
    border: none;
    background-image: url(../../../images/exit-icon.svg);
    background-color: black;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -36px;
    right: -36px;
    opacity: 1;
    transition: 0.4s linear;
}

.popup__exit:hover {
    opacity: 0.6;
    transition: 0.4s linear;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__exit {
        background-image: url(../../../images/exit-icon-mini.svg);
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}