.popup__save-btn {
    display: block;
    width: 88%;
    height: 50px;
    margin: 38px 0 37px 0;
    border: none;
    border-radius: 5px;
    background-color: black;
    font-family: inherit;
    font-size: 18px;
    line-height: 22px;
    color: white;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s linear; 
}

.popup__save-btn:hover {
    opacity: 0.8;
}

.popup__save-btn:focus {
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__save-btn {
        width: 90%;
        margin: 42px 0 20px 0;
        font-size: 14px;
        line-height: 17px;
    }
}