.profile__career {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    grid-area: career;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .profile__career {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}