.page__container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page__container {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page__container {
        max-width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .page__container {
        max-width: 100%;
    }
}